/* Welcome to Compass! In this file you should write your main styles.  */

@include grid_base();
//@include grid_base($columns:16);
@include generate_rsgrid ($columns: 12);

$font-stack: "Roboto", Helvetica, Arial, sans-serif;
$font-color: rgb(69, 85, 96);

$font-stack-title: "Roboto Condensed", Helvetica, Arial, sans-serif;
$font-color-title: rgb(69, 85, 96);


//@include generate_grid;


/* GRID end */




body{

  font-family: $font-stack;
  color: $font-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

}


.site-content{
  @extend .container_12_grid_10;
 // @extend .container_12_push_1;
}


a{
  text-decoration: none;
  color: #00b6de;
  &:hover{
    text-decoration:underline;
  }
}

p {
  margin: 10px 0 10px 0;
}

.block-title{
  font-family: $font-stack-title;
  color: $font-color-title;
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

ul{
  position: relative;
  left: -22px;
  list-style-type: disc;
  margin-left: 0;
  padding-right: .122em;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  font-size: 0.875em;
}

ol{
  @extend ul;
  color: #455560;
  list-style-type: decimal;
  //font-weight: bold;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;

}