/* GRID start */
//STATIC GRID
@mixin grid_base (
$columns: 12,
$width: 960px,
$gutter: 20px,
$prefix : true,
$push : true
){


  //$column_width: $width / $columns;
   .grid {
    display:inline;
    float: left;
    margin-left: $gutter/2;
    margin-right: $gutter/2;
  }
  .relative {
    position: relative;
  }


  @include generate_grid (
      $columns,
      $width,
      $gutter,
      $prefix,
      $push);


}

//loops
@mixin generate_grid (
$columns: 12,
$width: 960px,
$gutter: 20px,
$prefix: true,
$push: true
){
  $column_width: $width / $columns;
  $container_name: ".container_#{$columns}";
  #{$container_name} {
    margin-left:auto;
    margin-right:auto;
    width: $width;
    min-width: $width;
    border: 1px solid #000000;
    overflow: auto;
  }


  @for $i from 1 through $columns {

    $unique_name:".container_#{$columns}_grid_#{$i}";
    #{$unique_name},.grid_#{$i}{
      @extend .grid;
      #{$container_name} & {

        width: $i * $column_width - $gutter;
      }

    }
    #{$container_name} {
      @if $prefix == true {
        .prefix_#{$i}{
          padding-left: $i * $column_width;
        }
        .suffix_#{$i}{
          padding-right: $i * $column_width;
        }
      }
    }

    @if $push == true {
      .push_#{$i}{
        @extend .relative;
        #{$container_name} & {
          left: $i * $column_width;
        }
      }
      .pull_#{$i}{
        @extend .relative;
        #{$container_name} & {
          left: -$i * $column_width;
        }
      }
    }

  }

}
//RESPONSIVE GRID
@mixin generate_rsgrid (
$columns: 12,
$gutter: 1.6%
){
  $unique_name:".container_rs#{$columns}";
  #{$unique_name}{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    border: 0px solid #000000;
    overflow: auto;
    $width:100%;
    $column_width: $width / $columns;

    @for $i from 1 through $columns {

      $unique_name:".container_rs_grid_#{$i}";
      .grid_#{$i}{
            display:inline;
            float: left;
            margin-left: $gutter/2;
            margin-right: $gutter/2;
            width: $i * $column_width - $gutter;
             }
      .push_#{$i}{
        position:relative;
        left: $i * $column_width;
      }
      .pull_#{$i}{
        position:relative;
        left: -$i * $column_width;

      }
    }
  }

}


